PORT=3000
MQTT_PORT=1883
MQTT_WS_PORT=9001
WS_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=music_collab

STUN_SERVER=stun:stun.l.google.com:19302
TURN_SERVER=
TURN_USER=
TURN_CREDENTIAL=
