# Database configuration
DB_USER=postgres
DB_HOST=localhost
DB_NAME=offline_collab_db
DB_PASSWORD=postgres
DB_PORT=5432

# Server configuration
PORT=3001

# Client configuration
VITE_API_URL=http://localhost:3001
